@(account: Account,session: Account)

@main(session){
    <header class="panel-heading">
        EDIT ACCOUNT
    </header>
    <div class="panel-body">
        <div class="position-left">
            <form action="@routes.Accounts.updateAccount()" method="post" class="form-horizontal" role="form">
                <input type="hidden" name="id" value="@account.id" />
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Real Name</label>
                    <div class="col-lg-5">
                        <input type="text" name="realName" class="form-control" value="@account.realName">
                        <p class="help-block">Enter account real name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Username</label>
                    <div class="col-lg-5">
                        <input type="text" name="username" class="form-control" value="@account.username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Email</label>
                    <div class="col-lg-5">
                        <input type="email" name="email" class="form-control" value="@account.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Security Question</label>
                    <div class="col-lg-5">
                        <input type="text" name="securityQuestion" class="form-control" value="@account.securityQuestion">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Security Answer</label>
                    <div class="col-lg-5">
                        <input type="text" name="securityAnswer" class="form-control" value="@account.securityAnswer">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-5">
                        <button type="submit" class="btn btn-round btn-success btn-xs">Update Account</button>
                        <a href="@routes.Accounts.index" class="btn btn-round btn-warning btn-xs">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}