@(form: Form[Authentication.Login])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CMS Bukopin Login Page">
    <meta name="author" content="MAF">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Login</title>

    <!--Core CSS -->
    <link href="@routes.Assets.at("bs3/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/bootstrap-reset.css")" rel="stylesheet">
    <link href="@routes.Assets.at("font-awesome/css/font-awesome.css")" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/style-responsive.css")" rel="stylesheet" />
</head>

<body class="login-body">

<div class="container">

    @helper.form(action=routes.Authentication.authenticate, 'class->"form-signin"){
        <h2 class="form-signin-heading">Card Management System<br />BUKOPIN</h2>
        <div class="login-wrap">
            <div class="user-login-info">
                <input name="username" type="text" class="form-control" placeholder="Username" autofocus>
                <input name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
        </div>
    }

</div>

<!--Core js-->
<script src="javascripts/jquery.js"></script>
<script src="bs3/js/bootstrap.min.js"></script>

</body>
</html>